/*=============================================
INFO-RESERVAS
=============================================*/

.infoReservas{
	position: relative;

}

.infoReservas .colIzqReservas{
	position:relative;

}


.colIzqReservas button{
	border-radius:0;

	color:white;
}

.colDerReservas{
	transition:0.3s all;
}

/*=============================================
TABLET VERTICAL (MD revisamos en 768px hacia abajo)
=============================================*/

@media (max-width:768px){

	.infoReservas .colIzqReservas .cabeceraReservas{
		background: black;
	}

	.infoReservas .colIzqReservas .cabeceraReservas h1{
		font-size:20px;
	}

	.infoReservas .colIzqReservas .calendarioReservas h1{
		font-size:16px;
	}

	.infoReservas .colIzqReservas .calendarioReservas ul li{
		font-size:14px;
	}


}
